# Core
streamlit
pandas
python-dotenv

# LLM & API
groq
google-generativeai
google-api-python-client
google-auth
requests
tenacity

# Intelligence Tools
fpdf2
langdetect
plotly
app-store-scraper
google-play-scraper

# Deployment Stability
setuptools
wheel
